@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Host Grotesk';
        font-weight: 100 900;
        src: url('/fonts/HostGrotesk-Regular.woff2') format('woff2-variations');
    }
}